<header #header class="header">
  <div role="button" class="d-flex text-white p-2" (click)="toggleMenu()">
    <i class="material-icons" [style.fontSize]="'36px'">{{isMenuOpen ? 'menu_open' : 'menu'}}</i>
  </div>

  <div role="button" class="d-flex text-white p-2" (click)="logout()">
    <i class="material-icons" [style.fontSize]="'36px'">exit_to_app</i>
  </div>
</header>

<div class="side-menu" [ngClass]="{'opened': isMenuOpen, 'closed': !isMenuOpen}" (click)="toggleMenu()">
  <div class="h-100 bg-white" [style.width]="'250px'">
    <a class="d-block" [routerLink]="'./resistance'" routerLinkActive="active">Resistance</a>
    <a class="d-block" [routerLink]="'./mafia'" routerLinkActive="bg-success">Mafia</a>
  </div>
  <div class="h-100 flex-fill"></div>
</div>

<div class="current-game-wrap">
  <router-outlet></router-outlet>
</div>