.header-mobile {
  top: 0;
  left: 0;
  z-index: 20;
  height: 120px;
  width: 100%;
  background: #222;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Open Sans,sans-serif;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: top .25s linear;
  -o-transition: top .25s linear;
  transition: top .25s linear;
 
  &.header-mobile_stick {
    position: fixed;
  }

  &.header-mobile_unstick {
    position: fixed;
    top: -120px;
  }
}