@import "~src/styles.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  top: 0;
  left: 0;
  z-index: 1030;
  height: 50px;
  width: 100%;
  background: $dark;

  @include media-breakpoint-down(sm) {
    position: fixed;
    -webkit-transition: top .25s linear;
    -o-transition: top .25s linear;
    transition: top .25s linear;
  }
}