<!-- <div class="p-2">
  <button type="button" class="btn btn-dark btn-sm" (click)="openModal()">Open modal</button>
  <button type="button" class="btn btn-dark btn-sm" (click)="createGame()">Create game</button>
</div> -->
<div [style.paddingBottom]="'50px'">
  <div *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13]" class="row shadow-sm rounded rounded-sm bg-white g-0 m-2">
    <div class="col-9 d-flex flex-column justify-content-center pl-2">
      <div class="text-nowrap overflow-hidden">Game name</div>
      <div>7/10</div>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-center">
      <button class="btn btn-success">Join</button>
    </div>
  </div>
</div>
  

<div class="resistance-footer">
  <button class="btn btn-success ml-2" (click)="createGameModal()">Create game</button>
</div>
