<header #header class="header">
  <div role="button" class="d-flex text-white p-2" (click)="toggleMenu()">
    <i class="material-icons" [style.fontSize]="'36px'">{{isMenuOpen ? 'menu_open' : 'menu'}}</i>
  </div>

  <div dropdown>
    <div role="button" class="d-flex text-white p-2" id="userMenuRef" data-toggle="dropdown" aria-expanded="false">
      <i class="material-icons" [style.fontSize]="'36px'">account_box</i>
    </div>

    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenuRef">
      <li><button class="dropdown-item" type="button">Settings</button></li>
      <li><button class="dropdown-item" type="button">Admin page</button></li>
      <li><button class="dropdown-item" type="button" (click)="logout()">Sign out</button></li>
    </ul>
  </div>
</header>

<div (click)="toggleMenu()" class="side-menu" [ngClass]="{'opened': isMenuOpen, 'closed': !isMenuOpen}">
  <a class="d-block" [routerLink]="['resistance']" routerLinkActive="bg-success">Resistance</a>
  <a class="d-block" [routerLink]="'./mafia'" routerLinkActive="bg-success">Mafia</a>
  <a class="d-block" [routerLink]="'./'">Menu</a>
</div>

<div
  (click)="toggleMenu()"
  class="side-menu-overlay"
  [ngClass]="{'visible': isMenuOpen, 'hidden': !isMenuOpen}">
</div>

<div class="current-game-wrap">
  <router-outlet></router-outlet>
</div>
