<header #header class="header">
  <div role="button" class="d-flex text-white p-2" (click)="toggleMenu()">
    <i class="material-icons" [style.fontSize]="'36px'">{{isMenuOpen ? 'menu_open' : 'menu'}}</i>
  </div>

  <div class="dropdown">
    <div role="button" class="d-flex text-white p-2" id="userMenuRef" data-toggle="dropdown" aria-expanded="false">
      <i class="material-icons" [style.fontSize]="'36px'">account_box</i>
    </div>

    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenuRef">
      <li><button class="dropdown-item" type="button">Settings</button></li>
      <li><button class="dropdown-item" type="button">Admin page</button></li>
      <li><button class="dropdown-item" type="button" (click)="logout()">Sign out</button></li>
    </ul>
  </div>
</header>

<div class="side-menu" [ngClass]="{'opened': isMenuOpen, 'closed': !isMenuOpen}" (click)="toggleMenu()">
  <div class="h-100 bg-white" [style.width]="'250px'">
    <a class="d-block" [routerLink]="['resistance']" routerLinkActive="active">Resistance</a>
    <a class="d-block" [routerLink]="'./mafia'" routerLinkActive="bg-success">Mafia</a>
    <a class="d-block" [routerLink]="'/playroom'">Menu</a>

  </div>
  <div class="h-100 flex-fill"></div>
</div>

<div class="current-game-wrap">
  <router-outlet></router-outlet>
</div>